<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%- title%>
  </title>

  <%- include('partials/estilos.html')%>
</head>

<body>
  <%- include('partials/navigation.html')%>

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-content-center align-items-center">
      <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
        <h1>UPTC</h1>
        <h2>Universidad Pedagogica y Tecnologica de Colombia</h2>
        <h3>Es un ente universitario autónomo, de carácter nacional, estatal y público, democrático, de régimen
          especial, vinculado al Ministerio de Educación Nacional en lo referente a las políticas y la planeación del
          sector educativo, con sedes seccionales en Duitama, Sogamoso y Chiquinquirá, y con domicilio en Tunja.</h3>
      </div>
    </section><!-- End Hero -->

    <main id="main">

      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">

          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
              <img src="/img/about1.jpeg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>Observatorio de Ciencia Innovacion y Tecnologia Boyaca</h3>
              <p style="text-align: justify;" class="fst-italic">
                El Observatorio de Ciencia, Innovación y Tecnología para Boyacá –OCITEB se ha consolidado como en fuente
                constante de información, facilitador de la estadística y el dato en la Universidad a partir de la
                trazabilidad y homogeneidad del dato. Lo anterior dada necesidad de confrontar las estadísticas
                generadas por las Instituciones de Educación Superior – IES, a través de estrategias conjuntas para
                dinamizar la estructura del Observatorio con espacios y escenarios con los actores del sistema regional.
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> La universidad se encuentra ubicada en la <br>AV. central del
                  norte 39-115</li>
                <li><i class="bi bi-check-circle"></i>PBX <br>(57+8)7405626</li>
                <li><i class="bi bi-check-circle"></i> Horario <br> Lunes-Viernes 8-12 am 2-6 pm</li>
              </ul>
            </div>
          </div>

        </div>
      </section><!-- End About Section -->

      <!-- ======= Counts Section ======= -->
      <section id="counts" class="counts section-bg">
        <div class="container">

          <div class="row counters">

            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Students</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Courses</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Events</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Trainers</p>
            </div>

          </div>

        </div>
      </section><!-- End Counts Section -->

      <!-- ======= About Section ======= -->
      <section id="about1" class="about">
        <div class="container" data-aos="fade-up">

          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
              <img src="/img/Decano.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>Facultad Sogamoso tiene un nuevo Decano</h3>
              <p style="text-align: justify;" class="fst-italic">
                Se trata del ingeniero electrónico Nelson Barrera Lombana, quien a través de la Resolución Nº 2197 del
                03 de junio de 2021, y ante el rector de la Universidad Pedagógica y Tecnológica de Colombia, Óscar
                Ramírez, se posesionó como el nuevo decano de la facultad seccional Sogamoso por un periodo de dos años
                a partir de la fecha de posesión.

                El ingeniero Nelson Barrera es Ingeniero Electrónico de la UPTC, especialista en Telematica y magíster
                en Educación y cuenta con un doctorado en Ciencias de la Educación en la misma nuestra Alma Máter. Se
                vinculó como docente en el año 2006 donde ha desempeñado cargos como docente y director de la Escuela de
                Ingeniería Electrónica.

                El nuevo decano aseguró que continuará trabajando en proyectos que son de gran importancia para el
                funcionamiento y atención del ingreso pospandemia de docentes, estudiantes y funcionarios de la facultad
                seccional Sogamoso; así mismo recalcó que trabajará para el mejoramiento de las instalaciones, entre
                otros.

              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> La seccional Sogamoso se encuentra <br>Calle 4 sur # 15-134</li>
                <li><i class="bi bi-check-circle"></i>PBX <br>(57+8)7723517-8</li>
                <li><i class="bi bi-check-circle"></i> Horario <br> Lunes-Viernes 8-12 am 2-6 pm</li>
              </ul>
            </div>
          </div>

        </div>
      </section><!-- End About Section -->

      <!-- ======= Popular Courses Section ======= -->
      <section id="popular-courses" class="courses">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Seccional Duitama</h2>
            <p>Noticias Importantes</p>
          </div>

          <div class="row" data-aos="zoom-in" data-aos-delay="100">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="course-item">
                <img src="/img/course-1.jpg" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>Noticia 1</h4>
                  </div>

                  <h3>El comienzo de una nueva era pospnademia</h3>
                  <p style="text-align: justify;">La educación universitaria enfrenta nuevos retos en la pandemie de COVID 19, debe orientarse hacia la utilidad de la información más que al volumen de la misma</p>
                  <div class="trainer d-flex justify-content-between align-items-center">
                    <div class="trainer-profile d-flex align-items-center">
                      <img src="/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                      <span>UPTC Radio Duitama</span>
                    </div>
                    <div class="trainer-rank d-flex align-items-center">
                      <i class="bx bx-user"></i>&nbsp;50
                      &nbsp;&nbsp;
                      <i class="bx bx-heart"></i>&nbsp;65
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- End Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div class="course-item">
                <img src="/img/course-2.png" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>Noticia 2</h4>
                  </div>
                  <h3>Destacado ascenso de UPTC en Ranking ART-Sapiens 2021, un merecido reconocimiento a sus investigadores.
                  </h3>
                  <p style="text-align: justify;">Este informe confirma que las IES oficiales, continúan destacándose como las más productivas del país y en especial la UPTC, quien ha logrado un total de 257 artículos producidos, de los cuales el 53% de ellos fueron divulgados en revistas indexadas de Colombia y un 47% de los artículos, publicados en el exterior. Al respecto el Vicerrector de Investigación y Extensión de la UPTC Enrique Vera López, reconoce que el “haber ascendido cinco puestos demuestra el esfuerzo de los investigadores y sus grupos por hacer visibles sus producciones a través de revistas de alto impacto” y se comprometió además a continuar trabajando por hacer que el trabajo de todos los investigadores, desde semilleros hasta investigadores senior, sea cada vez más reconocido a nivel de Colombia y el mundo.</p>
                  <div class="trainer d-flex justify-content-between align-items-center">
                    <div class="trainer-profile d-flex align-items-center">
                      <img src="/img/trainers/trainer-2.png" class="img-fluid" alt="">
                      <span>Biblioteca Duitama</span>
                    </div>
                    <div class="trainer-rank d-flex align-items-center">
                      <i class="bx bx-user"></i>&nbsp;1200
                      &nbsp;&nbsp;
                      <i class="bx bx-heart"></i>&nbsp;150
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- End Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="course-item">
                <img src="/img/course-3.jpg" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>Noticia 3</h4>
                  </div>

                  <h3>Gobernador de Boyacá acompañó inauguración del nuevo edificio de la Uptc sede Duitama</h3>
                  <p style="text-align: justify;">El Gobernador felicitó a la administración de la universidad por sacar adelante estas obras, que venían de años anteriores: “Una mejor infraestructura está directamente relacionada con la calidad educativa y mejores resultados académicos. Felicitaciones a nuestra gloriosa Uptc por este nuevo edificio ‘Cacique Tundama’, que significa caminos de desarrollo para la universidad y el departamento”.</p>
                  <div class="trainer d-flex justify-content-between align-items-center">
                    <div class="trainer-profile d-flex align-items-center">
                      <img src="/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
                      <span>Boyacá Avanza</span>
                    </div>
                    <div class="trainer-rank d-flex align-items-center">
                      <i class="bx bx-user"></i>&nbsp;20000
                      &nbsp;&nbsp;
                      <i class="bx bx-heart"></i>&nbsp;1500
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- End Course Item-->

          </div>

        </div>
      </section><!-- End Popular Courses Section -->
 <!-- ======= About Section ======= -->
 <section id="about2" class="about">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
        <img src="/img/tunja.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3>¿Conoces tu riesgo cardiovascular y metabólico?</h3>
        <p style="text-align: justify;" class="fst-italic">
          El Ministerio de Salud y Protección Social, los invita a realizar la siguiente encuesta donde podrá calcular la probabilidad de riesgo de sufrir enfermedades como: diabetes, infarto o trombosis.
          En el marco del Nuevo Modelo Integral de Atención en Salud (MIAS) y con el objetivo de reducir la carga de enfermedad relacionada con las enfermedades cardiovasculares, el Ministerio de Salud y Protección Social ha diseñado un conjunto de estrategias reciprocas y complementarias.
          El objetivo fundamental en el trabajo de Promoción de la Salud Cardiovascular es posicionar estrategias para identificar  y gestionar el riesgo cardiovascular y metabólico, todo enmarcado en la implementación del Nuevo Modelo Integral de Atención en Salud (MIAS). 
        </p>
        <ul>
          <li><i class="bi bi-check-circle"></i> La universidad se encuentra ubicada en la <br>AV. central del
            norte 39-115</li>
          <li><i class="bi bi-check-circle"></i>PBX <br>(57+8)7405626</li>
          <li><i class="bi bi-check-circle"></i> Horario <br> Lunes-Viernes 8-12 am 2-6 pm</li>
        </ul>
      </div>
    </div>

  </div>
</section><!-- End About Section -->
      <!-- ======= Trainers Section ======= -->
      <section id="trainers" class="trainers">
        <div class="container" data-aos="fade-up">
          <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                <div class="member-content">
                  <h4>Walter White</h4>
                  <span>Web Development</span>
                  <p>
                    Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut
                    aut aut
                  </p>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="/img/trainers/trainer-2.png" class="img-fluid" alt="">
                <div class="member-content">
                  <h4>Sarah Jhinson</h4>
                  <span>Marketing</span>
                  <p>
                    Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum
                    temporibus
                  </p>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section><!-- End Trainers Section -->

    </main>
    <%- include('partials/footer.html')%>
</body>

</html>